.input {
  padding: 16px;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  font-size: var(--font-xl);
  color: var(--gray-100);
}

.input:focus {
  border: 1px solid var(--purple-dark);
}

.input::placeholder {
  color: var(--gray-300);
}
