.delete-button {
  width: 24px;
  height: 24px;

  border: none;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--gray-300);
  background-color: transparent;
}

.delete-button:hover {
  color: var(--danger);
  background-color: var(--gray-400);
}
