.checkbox {
  padding: 4px 0;
}

.checkbox input[type='checkbox'] {
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid var(--blue);
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.checkbox input[type='checkbox']:hover {
  border: 2px solid var(--blue-dark);
  background-color: var(--blue-dark);
}

.checkbox input[type='checkbox']:checked {
  background-color: var(--purple-dark);
  border: none;
  position: relative;
}

.checkbox input[type='checkbox']:checked:hover {
  background-color: var(--purple);
}

.checkbox input[type='checkbox']:checked::before {
  content: '\2714';
  font-size: var(--font-md);
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
